.logo {
  background-color: #f1f1f1;
  border-radius: 1rem;
  width: 100px;
}

.ellipses {
  width: 140px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-top-section p,
.home-top-section h3,
.home-top-section span,
.home-section-1 p,
.home-section-1 h3,
.home-section-1 span {
  font-family: 'Inter', sans-serif !important;
}

.home-section-1 {
  margin-top: 60px;
}

.products-list-container {
  display: flex;
  overflow-x: scroll;
  gap: 16px;
  margin-top: 16px;
}

.products-list-container .product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.products-list-container .product .img {
  overflow: hidden;
  display: flex;
  align-items: end;
  width: 100%;
  height: 240px;
  border-radius: 4px;
}

.products-list-container .product img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.products-list-container .product .content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
}

.products-list-container .product .content > div {
  display: flex;
  flex-direction: column;
}

.products-list-container .product .content h3,
.products-list-container .product .content p {
  font-size: 1rem;
  font-weight: 500;
}

.products-list-container .product .content p {
  font-weight: 400;
  font-size: 14px;
}

.see-story {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 24px;
  background-color: transparent;
  margin-top: 8px;
  width: 110px;
}

.see-story span {
  font-weight: 600;
}

.see-story ion-icon {
  font-weight: 500;
  font-size: 18px;
}

.sticky-top {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 0px;
  border-radius: 32px;
  padding: 12px;
  gap: 8px;
  background: #f1f1f1;
  width: 201px;
}

.sticky-top button {
  font-size: 1rem;
  font-weight: 600;
  padding: 14px 16px;
  border-radius: 40px;
  color: #040404;
}

.sticky-top button.active {
  background-color: #040404;
  color: white;
}

.arts-works-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.arts-works-container .left,
.arts-works-container .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.arts-works-container .img {
  width: 100%;
  border-radius: 4px;
}

.arts-works-container img {
  width: 100%;
  border-radius: 4px;
}

.arts-works h3,
.arts-works p,
.arts-works span {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
}

.arts-works h3 {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: 500;
}

.arts-works p,
.arts-works span {
  font-size: 14px;
}

.products-list-container-skeleton {
  display: flex;
  overflow-x: scroll;
  gap: 16px;
  margin-top: 16px;
}

.products-list-container-skeleton .product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.products-list-container-skeleton .product .img {
  overflow: hidden;
  display: flex;
  align-items: end;
  width: 240px;
  height: 220px;
  border-radius: 4px;
  background-color: var(--ion-color-skeleton);
}

.products-list-container-skeleton .product p {
  height: 10px;
  width: 240px;
  border-radius: 4px;
  margin-top: 6px;
  background-color: var(--ion-color-skeleton);
}

.arts-works-container-skeleton {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.arts-works-container-skeleton .left,
.arts-works-container-skeleton .right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.arts-works-container-skeleton .img {
  width: 100%;
  height: 180px;
  border-radius: 4px;
  background-color: var(--ion-color-skeleton);
}

.arts-works-skeleton p {
  height: 10px;
  width: 95%;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 6px;
  background-color: var(--ion-color-skeleton);
}
