@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

:root[data-theme="light"] {
  --ion-color-primary: #333;
}

* {
  font-family: "Ojuju", sans-serif !important;
  box-sizing: border-box;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  display: none;
}

a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

.hide-tab-bar {
  display: none;
}
