@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

:root {
  --ion-color-primary: #000 !important;
  --background: #fff;
  --ion-color-mute: #dcdcdc;
}

* {
  font-family: "Ojuju", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  display: none;
}

:host {
  --color-selected: var(
    --ion-tab-bar-color-selected,
    var(--ion-color-primary, #333)
  );
}

a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

.hide-tab-bar {
  display: none;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
}

ion-tab-button ion-icon {
  width: 24px;
  height: 24px;
}

ion-tab-button {
  position: relative;
}

ion-tab-button.tab-selected::before {
  width: 68px;
  opacity: 1;
  transition: 0.3s;
  color: var(--ion-color-primary);
}

ion-tab-button.tab-selected {
  color: var(--ion-color-primary);
}

ion-tab-button ion-label {
  font-size: 13px;
  font-weight: 600;
}

ion-tab-button.tab-selected ion-label {
  color: var(--ion-color-primary) !important;
  font-weight: 600;
}

.toolbar-background {
  background-color: var(--background) importn !important;
}

ion-tab-button.tab-selected {
  --background: #dcdcdc;
  border-radius: 24px;
}

ion-tab-bar {
  padding: 10px;
}

.sticky-top button {
  background-color: #c4c4c4;
}

.sticky-top button.active {
  background-color: #000 !important;
}

.sticky-top {
  border: 1px solid #dcdcdc;
}

.arts-works .content span {
  font-weight: 600;
  font-size: 18px;
}

.arts-works .content {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
