.post-img {
  width: 100%;
  min-height: 250px;
  max-height: 400px;
  position: relative;
  background-color: #f9f9f9;
  object-fit: cover;
}

.post-img img {
  width: 100%;
  max-height: 400px;
}

.post-img .img-absolute-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  padding: 8px 11px;
}

.post-img .img-absolute-btn button {
  background-color: transparent;
}

.post-content .title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-content .title label {
  font-size: 1rem;
  font-weight: 500;
}

.post-content .title input {
  display: flex;
  height: 48px;
  padding: 15px 164px 18px 27px;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  background: var(--GREY, #dcdcdc);
}

.upload-art-container h3 {
  font-family: 'Fira Sans';
  margin-top: 2.6rem;
}

.tab-btn-container {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 2rem;
  background-color: var(--ion-color-mute);
  margin-top: 16px;
}

.tab-btn-container button {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border-radius: 150px;
  color: #8e8e8e;
  background-color: transparent;
}

.tab-btn-container button.active {
  background: #6f6f6f;
  color: #f9f9f9;
}

.text-tab .input-container {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-top: 24px;
  padding: 24px;
  gap: 10px;
  height: 250px;
  border-radius: 8px;
  background: #f9f9f9;
}

.text-tab textarea {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  color: #6f6f6f;
  background-color: transparent;
  border: none;
  height: 250px;
  width: 100%;
}

.btn-add-edit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  align-self: stretch;
}

.btn-enhance-text {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  background: #040404;
  color: #f9f9f9;
  width: 100%;
}

.btn-add-edit-text ion-icon {
  color: white;
}

.btn-save-text ion-icon {
  color: #333;
}

.btn-save-text {
  display: flex;
  padding: 14px;
  justify-content: center;
  color: #333;
  gap: 4px;
  border-radius: 24px;
  background: #f9f9f9;
  width: 100%;
  margin-top: 1.2rem;
}

.video-tab .btn-save-text {
  width: 100%;
  margin-top: 1.4rem;
}

.video-tab .video-preview {
  background-color: #f9f9f9;
  border-radius: 8px;
  height: auto;
  min-height: 250px;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}

.product-specifications {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
}

.product-specifications .column-2-inputs {
  display: flex;
  gap: 10px;
}

.product-specifications .input,
.product-specifications .select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.product-specifications .input input {
  padding: 12px;
  border-radius: 16px;
  background: #dcdcdc;
}

.product-specifications .select select {
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 16px;
  background: #dcdcdc;
}

/* progress bar */
.progress-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0px 3rem;
}

.progress-bar {
  position: absolute;
  top: 30px;
  left: 1.8rem;
  width: calc(100% - 3.8rem);
  height: 5px;
  background-color: #3b3b3b27;
  border-radius: 4px;
}

.progress-step {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 10px;
  width: 25%;
  max-width: 99px;
  height: 95px;
  z-index: 2;
}

.progress-step.active .step-number {
  background-color: var(--ion-color-primary);
  color: #fff;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--ion-color-primary);
  background-color: var(--ion-background-color);
  font-size: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.step-title {
  color: var(--ion-color-contrast);
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

.progress-step.active .step-title {
  color: var(--ion-color-primary);
}

/* product details page */
.product-details > * {
  font-family: 'Inter', sans-serif;
}

.product-details .img {
  width: 100%;
}
.product-details .img img {
  width: 100%;
}

.product-detail-content h2 {
  margin-bottom: 16px;
}

.product-detail-content .avatar {
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #8a5555;
}

.product-detail-content .user-details {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-detail-content > * {
  font-family: 'Inter', sans-serif !important;
}

.product-detail-content h2 {
  font-family: 'ojuju', sans-serif !important;
}

.product-detail-content p > b {
  font-family: 'Inter', sans-serif !important;
}

.product-detail-content .audio,
.product-detail-content .video {
  margin-top: 1.48em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-detail-page ion-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--ion-color-mute);
  border: 0;
  padding: 1rem;
}

.product-detail-page ion-footer ion-button,
.product-detail-page ion-footer p {
  font-family: 'Inter', sans-serif !important;
}

.upload-items-class {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 124px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 16px auto;
  border-radius: 24px;
  border: 1px dashed var(--BLACK-MID, #3c3c3c);
  background: var(--WHITE, #f8f8f8);
}

label {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
}

.text-tab,
.audio-tab,
.video-tab {
  margin-top: 1.4rem;
}
.text-tab *,
.audio-tab *,
.video-tab * {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
}

.btn-prev {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 10px 1rem;
  border-radius: 8px;
  border: 1px solid var(--ion-color-mute);
  width: fit-content;
}

.btn-prev ion-icon {
  font-size: 18px;
}

.btn-prev span {
  font-size: 1rem;
  font-weight: 500;
}
